body {
    background-color: #f0ece1;
    background-image: url(../imagenes/RebelAllianceBackground.jpg);
    background-size: cover;
}
.container {
    display: flex;
    background-color: rgba(229, 112, 61, 0.8);
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 10px solid #3b444b;
}
.container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.container a {
  background-color: #f0ece1;
  color: #CC3700;
  border: 5px solid #3b444b;
  width: auto;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  transition-duration: 0.3s;
  border-radius: 10px;
  text-decoration: none;

}
.container img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
}
.container a:hover {
    color: orchid;
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .container div {
        display: flex;
        flex-direction: column;
    }
}